h1{
  color: rgb(18, 82, 179);
  font-size: 60px;
  text-align: center;
}
h2 {
  text-align: center;
  color: brown;
}
p {
  text-align: center;
}
body {
  background-color: aliceblue;
}
body{
  background-color:bisque;
}
#btn{
  color: blueviolet;
  background-color: rgb(130, 19, 26);
  padding: 15px;
  margin-left: 50%;
  
}
nav{

  background-color:rgb(249, 163, 245);
  
}

